doctype 5
html
  head
    title Chat dude!
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src="/socket.io/socket.io.js")
    script(src="//vjs.zencdn.net/4.2/video.js")
    link(href="//vjs.zencdn.net/4.2/video-js.css" rel="stylesheet")
  body
    div.container
      header
      h1 Video Control Experiment
      video#example_video_1.video-js.vjs-default-skin(controls
        preload="auto" width="640" height="264"
        poster="http://video-js.zencoder.com/oceans-clip.png"
        data-setup='{"example_option":true}')
        <!--source(src="http://192.168.0.104:4000/videos/nick_slater.mp4" type='video/mp4')-->
        source(src="http://media41.watchanimesub.net/676318ddfa224cd0aac2b99807380cee/52c94d6f/adventure%20time/Adventure%20Time%20S05E43%20Root%20Beer%20Guy%20(1280x720)%20[Phr0stY].flv" type='video/flv')
    script(src="script.js")